#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	find debian/tmp/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	install -Dpm755 -d debian/tmp/usr/share/bash-completion/completions
	install -Dpm644 data/shell-completions/bash/meson debian/tmp/usr/share/bash-completion/completions/meson
	fdupes -qnrps debian/tmp/usr/lib/python*/*-packages

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=pybuild --with python3
